@model CreateEmployeeDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create Employee</h1>

<form asp-action="Create">
    <div class="my-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Age" class="col-form-label"></label>
        <input asp-for="Age" class="form-control" type="number" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Address" class="col-form-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Phone" class="col-form-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Salary" class="col-form-label"></label>
        <input asp-for="Salary" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="IsActive" class="col-form-label"></label>
        <input asp-for="IsActive" class="form-check-input" type="checkbox" />
    </div>
    <div class="my-3">
        <label asp-for="isDeleted" class="col-form-label"></label>
        <input asp-for="isDeleted" class="form-check-input" type="checkbox" />
    </div>
    <div class="my-3">
        <label asp-for="HireDate" class="col-form-label"></label>
        <input asp-for="HireDate" class="form-control" type="date" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="CreateAt" class="col-form-label"></label>
        <input asp-for="CreateAt" class="form-control" type="date" />
        <span asp-validation-for="CreateAt" class="text-danger"></span>
    </div>
    <div class="my-3">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section ValidationSection{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}