@model CreateEmployeeDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>

<form asp-action="Edit">
 
    <partial name="EmployeePartialView/_CreateEditPartialView" model="@Model" />
</form>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}