@model CreateEmployeeDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>

<form asp-action="Edit">
 
    <partial name="EmployeePartialView/_CreateEditPartialView" model="@Model" />
</form>
